// Solarized Colors
@base03:    #002b36;
@base02:    #073642;
@base01:    #586e75;
@base00:    #657b83;
@base0:     #839496;
@base1:     #93a1a1;
@base2:     #eee8d5;
@base3:     #fdf6e3;
@yellow:    #b58900;
@orange:    #cb4b16;
@red:       #dc322f;
@magenta:   #d33682;
@violet:    #6c71c4;
@blue:      #268bd2;
@cyan:      #2aa198;
@green:     #859900;

// Highlighted tones..does it make it no longer solarized? :)
@light-yellow:  #d2a313;
@light-orange:  #e36331;
@light-red:     #f94d49;
@light-magenta: #f34c9f;
@light-violet:  #878be0;
@light-blue:    #3ea6ef;
@light-cyan:    #43cdc2;
@light-green:   #9db30b;

// Dark
@dark-bg-default:     @base03;
@dark-bg-highlight:   @base02;
@dark-fg-comments:    @base01;
@dark-bg-neutral:     @base00;
@dark-fg-default:     @base0;
@dark-fg-emphasized:  @base1;
@dark-fg-emphasized1: @base2;
@dark-fg-emphasized2: @base3;

// Light
@light-bg-default:     @base3;
@light-bg-highlight:   @base2;
@light-fg-comments:    @base1;
@light-bg-neutral:     @base0;
@light-fg-default:     @base00;
@light-fg-emphasized:  @base01;
@light-fg-emphasized1: @base02;
@light-fg-emphasized2: @base03;

// Normal and inverted colors
@bg-default:     @light-bg-default;
@bg-highlight:   @light-bg-highlight;
@fg-comments:    @light-fg-comments;
@bg-neutral:     @light-bg-neutral;
@fg-default:     @light-fg-default;
@fg-emphasized:  @light-fg-emphasized;
@fg-emphasized1: @light-fg-emphasized1;
@fg-emphasized2: @light-fg-emphasized2;

@inv-bg-default:     @dark-bg-default;
@inv-bg-highlight:   @dark-bg-highlight;
@inv-fg-comments:    @dark-fg-comments;
@inv-bg-neutral:     @dark-bg-neutral;
@inv-fg-default:     @dark-fg-default;
@inv-fg-emphasized:  @dark-fg-emphasized;
@inv-fg-emphasized1: @dark-fg-emphasized1;
@inv-fg-emphasized2: @dark-fg-emphasized2;

// Original Flex colors
// @orange: #D9411E;
// @light-orange: #FF5A09;
// @white:  #ffffff;
// @grey: #333333;
// @light-grey:  #eeeeee;
// @med-grey:  #999999;
// @dark-grey: #242121;

// Font family
@sans: 'Source Sans Pro', 'Verdana', sans-serif;
@mono: 'Source Code Pro', 'Consolas', monospace;

// Body
@body-bg: @bg-default;
@text-color: @fg-default;

// Links
@link-color: @fg-emphasized1;
@link-hover-color: @fg-emphasized;

// Sidebar (aside)
@sidebar-bg: @inv-bg-default;
@sidebar-text-color: @inv-fg-default;
@sidebar-link-color: @inv-fg-emphasized;
@sidebar-link-hover-color: @inv-fg-emphasized;

// Buttons
@btn-bg: @orange;
@btn-text-color: @fg-default;
@btn-hover-color: @light-orange;

// Tag cloud
@tag-bg: @orange;
@tag-text-color: @fg-default;
@tag-hover-color: @light-orange;

// Header
@header-text-color: @blue;

// Footer
@footer-text-color: @fg-comments;
@footer-border-color: @fg-comments;

// Relativer posts
@rel-post-border-color: @fg-emphasized1;

// Nav
@nav-border-color: @fg-emphasized1;

// Social buttons

@sc-fg-color: @inv-fg-emphasized2;

@email-bg-color: #578AD6;
@facebook-bg-color: #3e5b98;
@github-bg-color: #111010;
@google-bg-color: #d93e2d;
@linkedin-bg-color: #3371b7;
@pinterest-bg-color: #c92619;
@reddit-bg-color: #ff4500;
@rss-bg-color: #f26109;
@soundcloud-bg-color: #ff5500;
@stack-overflow-bg-color: #ff9900;
@twitter-bg-color: #4da7de;
@youtube-bg-color: #e02a20;
