<p>{{ _('Powered by %(pelican_url)s - %(flex_url)s theme by %(alexandrevicenzi_url)s - %(Solarized_url)s by %(troy_url)s',
  pelican_url='<a href="http://getpelican.com" target="_blank">Pelican</a>',
  flex_url='<a href="https://github.com/alexandrevicenzi/flex" target="_blank">Flex</a>'|safe,
    alexandrevicenzi_url='<a href="http://alexandrevicenzi.com" target="_blank">Alexandre Vicenzi</a>'|safe,
    Solarized_url='<a href="http://ethanschoonover.com/solarized">Solarized</a>'|safe,
    troy_url='<a href="http://troycurtisjr.com">Troy Curtis, Jr</a>'|safe) }}</p>
