<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/gtag/js?id={{ GOOGLE_TAG_MANAGER }}"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push(['js', new Date()]);w[l].push(['config',i]);
var f=d.getElementsByTagName(s)[0], j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtag/js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','{{ GOOGLE_TAG_MANAGER }}');</script>
<!-- End Google Tag Manager -->
